#banner
	#banner_content
	%h1 Note Note
	%p Your online notebook. Never forget an idea again.
	%button= link_to "Sign Up", new_user_registration_path


#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period"

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p This is an app that allowed me to learn more about Ruby & Ruby on Rails. Thank you Mackenzie Child for this great tutorial! 
			.callout
				%h2 Rocket
				%p This is an app that allowed me to learn more about Ruby & Ruby on Rails. Thank you Mackenzie Child for this great tutorial! 
			.callout
				%h2 Lightning
				%p This is an app that allowed me to learn more about Ruby & Ruby on Rails. Thank you Mackenzie Child for this great tutorial! 

#bottom_cta
	.wrapper
	%h2 For Realz!
	%p I want you to sign up...
	%button= link_to "Click me!", new_user_registration_path

#footer
	&copy: Joumana El Alaoui
